---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: swimto
  namespace: swimto
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
    cert-manager.io/cluster-issuer: selfsigned-cluster-issuer
  labels:
    app: swimto
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - swimto.eldertree.local
      secretName: swimto-tls
  rules:
    - host: swimto.eldertree.local
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: swimto-api-service
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: swimto-web-service
                port:
                  number: 3000
