---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: swimto
  namespace: swimto
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  labels:
    app: swimto
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - swimto.local
      secretName: swimto-tls
  rules:
    - host: swimto.local
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: swimto-api-service
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: swimto-web-service
                port:
                  number: 3000
